.float-up {
  -webkit-animation: float-up 4.5s ease-in-out infinite;
          animation: float-up 4.5s ease-in-out infinite;
}

.float-up-two {
  -webkit-animation: float-up 3.5s ease-in-out infinite;
          animation: float-up 3.5s ease-in-out infinite;
}

@-webkit-keyframes float-up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float-up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.float-down {
  -webkit-animation: float-down 4.5s ease-in-out infinite;
          animation: float-down 4.5s ease-in-out infinite;
}

.float-down-two {
  -webkit-animation: float-down 3.5s ease-in-out infinite;
          animation: float-down 3.5s ease-in-out infinite;
}

@-webkit-keyframes float-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  @-webkit-keyframes float-up {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes float-up {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @-webkit-keyframes float-down {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes float-down {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
}

.shape-one {
  @apply w-160 h-160 ssm:w-180 ssm:h-180 sm:w-230 sm:h-230 lg:w-auto lg:h-auto bottom-[1%] sm:bottom-[3%] left-[5%] lg:bottom-[5%];
}

.shape-two {
  @apply w-130 h-130 ssm:w-150 ssm:h-150 sm:w-200 sm:h-200 lg:w-auto lg:h-auto left-[10%] sm:left-[15%] lg:left-[19%] top-[15%];
}

.shape-three {
  @apply w-160 h-160 ssm:w-190 ssm:h-190 sm:w-240 sm:h-240 lg:w-auto lg:h-auto right-[5%] sm:right-[8%] lg:right-[13%] top-[18%];
}

.shape-four {
  @apply w-180 h-90 ssm:w-200 ssm:h-100 sm:w-220 sm:h-110 lg:w-auto lg:h-auto right-[8%] bottom-[0%];
}
/*# sourceMappingURL=index.css.map */