.on-prev::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, #fbfbfb);
  pointer-events: none;
}

.on-next::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, transparent, #fbfbfb);
  pointer-events: none;
}

.about-pagination-container {
  position: absolute;
  z-index: 10;
  bottom: 10px !important;
  display: flex;
  justify-content: center;
}

.about-pagination-bullet-active {
  background: #eb691b !important;
}

@media (min-width: 600px) {
  .about-pagination-container {
    display: none;
  }
}
